<nav id="mainNav" class="navbar navbar-static navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header-static">
            <a class="navbar-brand navbar-brand-static" href="/">GoGreen</a>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
